<h1>Post to gWall</h1>
<p>
<form method="POST" action="/gwall/post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="username" autofocus>
  <label for="url">Image URL:</label>
  <input type="url" id="url" name="image" placeholder="http://">
  <label for="rant">Rant:</label>
  <textarea name="rant" id="rant" placeholder="RANT AWAY"></textarea>
  <input type="submit" value="DO IT">
</form>
</p>
