body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, textarea {
  font-size: 1.3em;
  display: block;
  margin: 10px 0;
}

.icon {
  height: 50px;
  border-radius: 50%;
}
